**/.git
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/out
**/App_Data
**/*.user
**/*.suo
**/appsettings.*.local.json
**/secrets.json
**/.env
**/.env.*
**/node_modules
**/Dockerfile*
**/.dockerignore
**/pgdata
